# Programme for Data Analysis: Simulating a Dataset<img align="right" src="img/gmit_logo.jpg">

## Real World Phenomenon: The Impact of Education Attainment on Employment 

**GMIT Higher Diploma in Data Analytics**<br>
**Module:** Programming for Data Analytics<br>
**Author:** Martina O'Brien<br>
**Submissiom date:** 13 December 2019<br>

Submitted as part of the requirements for the GMIT Higher Diploma in Data Analysis as part of the module Programme for Data Analysis 2019.

## Table of Contents: 
[**Section 1: Introduction:**](#section1)<br/>
    [1.1:Introduction and Background](#section1)
  
[**Section 2:Modeling and Sythesising the Data:**](#section2)<br/>
    [2.1: Setting up the dataframe](#section2)<br/>
    [2.2: Creating Dataframe](#section2.2)<br/>
    [2.3: Distributions in the Dataframe](#section2.3)<br/>
    [2.4: Relationships between the variables](#section2.4)

[**Section 3: Conclusion:**](#section3)   
    [3.1: Potential areas of future explorations](#section3.1)

[**Section 4: References:**](#ref)<br/>
    [4.1: References](#ref4.1)<br/>
    [4.2: Useful Links](#ref4.2)

<a id='section1'></a>
## Section 1: Introduction

#### 1.1. Introduction and Background:
 
Educational attainment is well known to be a factor influencing the employment predictability of an individual **(1)**. In Ireland, it is compulsory to attend full time education from the ages of 6 - 16 years or until the finish of 3 years of second level education or the completion of the Junior Cycle curriculum under the Education Act 2000 **(2)**. While Ireland is currently reaching full employment, with only 4.8% unemployment still existing (3). This rate is nearly equal to that of in 2007 before the economic recession occurred. This notebook explores data modelled on the predictability of an individual's employment status in relation to the highest level of education completed.<br>

While the overall picture of employment looks healthy, there are still concerning statistics amongst certain groups of individuals in particular early school leavers (ESLs) **(4)**. Conversely, young people also experience high rates of unemployment in Ireland with 12.5% of young people. **(5, 6)**. Conversely, It is important to understand the relationship between education and employment in order to address the arising needs and promote resilience for individuals within recession as it is well know that those with higher education levels are more likely to be employed.

##### About this dataset:  <br>
In November, 2019, the most recent Educational Attainment Thematic Report 2019 was released by the Central Statistics Office, detailing the key findings in the relationship between educational attainment and employment **(7)**  This notebook will explore the relationship between educational attainment and employment in Ireland today.

The dataset will contain 200 data points over 4 variable: gender, age, educational attainment and employment.

| Variable  | Type | Description |
| --- | --- | --- |
| Gender | Categorical | Sex - Male/Female |
| Age | Numerical | Value between 25 and 65 years of ages|
| Educational Attainment | Categorical | Highest level of education obtained|
|Employment | Categorical | Employment status - Yes/No|


A dataset will be modelled on the findings of the above report insofar as possible and randomly synthesised for the purpose of this report. The weighted variables and methodology will be outlined in the next section. 


##### Motivation for this project: 
As a youth work professional in the area of youth entrepreneurship, identifying barriers for accessing employment is a key aspect of the role. This project will enable me to gain some further insight into the current picture of unemployment in Ireland and the socio economic factors that may be associated with that.

<a id='section2'></a>
## Section 2: Modelling and Synthesising the Data

<a id='section2'></a>
### 2.1: Creating a dataframe:

In this section, a dataframe will be created using the numpy.random function. The data will be replicable where applicable. Firstly, the data for the variables will be created. This data is based on CSO variance on each of the four variables.

##### Importing Libraries for use in the Notebook

In [2]:
#Importing Libraries needed for notebook
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

%matplotlib inline #calling the magic command to display plots

UsageError: unrecognized arguments: #calling the magic command to display plots

#### Age
Firstly, the age variable is generated. It is done by using the np.random.seed function to ensure that the data generated is the same each time the notebook is ran. Next, random ages are generated between 25 - 64 years at 200 data points. This will represent that ages within the data set. The ages are rounded up or down to give a whole integer. Finally, the data frame is created to be used further on in the dataset.

In [3]:
np.random.seed(10) #Using the seed function to ensure the output in the same every time the notebook is run
#(8)
age =np.random.randint(25,65,200) # randomly generate numbers between 25 and 64 with 200 datapoint
#(9)
age = age.round(0) #Round the integers
#(10)
age_df = pd.DataFrame(age, columns=['Age'])#Creating a dataframe with a column heading 'Age'
age_df.head()# Displaying the head of the dataframe

   Age
0   34
1   61
2   40
3   25
4   53

In [4]:
age_df.describe()

             Age
count  200.00000
mean    44.31000
std     10.81939
min     25.00000
25%     35.75000
50%     43.00000
75%     54.00000
max     64.00000

The mean of the dataframe is 43.15 years and the mode is 42 indicating that the data in the table is slightly skewed to the left. This spread will be visualised in the next section **(11)**.

#### Education Attainment

The Education Attainment variable is categorical with 5 values: *Primary Level, Lower Secondary Level, Upper Secondary Level, Post Level Certificate and Third Level*. Using the Thematic Report from November 2019 referenced in this sections introduction, weighting will be added in to ensure the data is simulating a real life phenomenon (**12**).

In [32]:
#References for values contained in the dataset
level = ['Primary Level', 'Lower Secondary', 'Higher Secondary', 'Post Leaving Certificate', 'Third Level']
#Based on statistics, a probability for each string is created.
# Probability is as follows: Primary Level is the lowest, Lower Secondary is .11 and so on
prob = [0.05, 0.11, 0.22, 0.15, 0.47]
education_level = np.random.choice(level, 200, p=prob) #random choice is used to generate the dataframe
education_level_df = pd.DataFrame(education_level, columns=['Education Level'])# Creates a dataframe 
education_level_df.head()#showing the first 5 data entries

  Education Level
0     Third Level
1     Third Level
2     Third Level
3     Third Level
4     Third Level

The describe function will now be called to give an overview of the statistics and also highlights if there are any missing values. Third level is the most frequent level of education attained in the dataset as per the weighting applied previously.

In [33]:
education_level_df.describe() #using the df.describe function to give discriptive statistics

       Education Level
count              200
unique               5
top        Third Level
freq                99

#### Gender

The Gender dataframe is now compiled for the dataset using the 'Male' and 'Female' as collected in the Central Statistics Office Census 2016. Ireland has almost equal amounts of people identifying as male and female. **13**

In [34]:
gender = ['male','female'] #values as per CSO Census
prob_gender = [.4961,.5039] #breakdown of values
sex = np.random.choice(gender, 200, p = prob_gender)#random choice generates the data
gender_df = pd.DataFrame(sex, columns=['Gender'])#dataframe is displayed
gender_df.head() #showing the first five data entries

   Gender
0  female
1    male
2  female
3    male
4  female

**Note**: The df.head function does not represent the breakdown of the variables, it only represents the first 5 datapoints.

In [35]:
gender_df.describe() #descriptive statistics of the Gender variable

       Gender
count     200
unique      2
top      male
freq      109

#### Employment Status

The last variable added in the category 'Employment Status', denoting whether or not an individual was in employment at the time of data collection **(14)**, based on the October, 2019 statistics released by the Central Statistics Office.

In [36]:
status = ['Employed', 'UnEmployed']#create data for variable
prob_employment = [0.958,0.042]#created a probability for value
employment = np.random.choice(status, 200, p=prob_employment) #random choice for the variables
employment_df = pd.DataFrame(employment, columns=['Employment Status'])##creating the dataframe for the variable
employment_df.head()#showing the first 5 data entries

  Employment Status
0          Employed
1          Employed
2          Employed
3          Employed
4          Employed

In [30]:
employment_df.describe()

       Employment Status
count                200
unique                 2
top             Employed
freq                 194

 <a id='section2.2'></a>
 ### 2.2 Creating Dataframe

Now that all the variables have their values, we will concanentate them into the dataframe that will be used to explore the link between educational attainment and employment status. The pd.concat function within pandas will be used **(15)**

In [31]:
# using pd.concat to merging all dataframes into one
merged = pd.concat([age_df, education_level_df, gender_df, employment_df], axis=1)
#Creating the dataframe the merged data
merged_df = pd.DataFrame(merged)


#save list to a csv file
merged_df.to_csv("merged_df.csv") # https://www.dataquest.io/blog/pandas-cheat-sheet/

#displaying the list
merged_df

     Age           Education Level  Gender Employment Status
0     34  Post Leaving Certificate    male          Employed
1     61          Higher Secondary    male          Employed
2     40          Higher Secondary    male          Employed
3     25          Higher Secondary    male          Employed
4     53             Primary Level  female          Employed
5     50           Lower Secondary  female          Employed
6     54               Third Level    male          Employed
7     54  Post Leaving Certificate    male          Employed
8     33               Third Level  female          Employed
9     34               Third Level    male          Employed
10    25           Lower Secondary  female          Employed
11    61               Third Level  female          Employed
12    41               Third Level  female          Employed
13    61               Third Level  female          Employed
14    36          Higher Secondary    male        UnEmployed
15    49          Higher Secondary    male          Employed
16    58          Higher Secondary    male          Employed
17    33               Third Level  female        UnEmployed
18    61             Primary Level    male          Employed
19    39          Higher Secondary  female          Employed
20    38             Primary Level    male          Employed
21    30          Higher Secondary    male          Employed
22    38           Lower Secondary  female          Employed
23    50           Lower Secondary  female          Employed
24    38               Third Level  female          Employed
25    53               Third Level    male          Employed
26    47           Lower Secondary    male          Employed
27    55               Third Level    male          Employed
28    55          Higher Secondary    male          Employed
29    50               Third Level  female          Employed
..   ...                       ...     ...               ...
170   36               Third Level  female          Employed
171   30          Higher Secondary    male          Employed
172   54               Third Level  female          Employed
173   45               Third Level    male          Employed
174   59           Lower Secondary    male          Employed
175   57           Lower Secondary    male          Employed
176   55               Third Level  female          Employed
177   47               Third Level  female          Employed
178   30          Higher Secondary    male          Employed
179   43          Higher Secondary  female          Employed
180   26               Third Level  female          Employed
181   38               Third Level  female          Employed
182   43               Third Level    male          Employed
183   52  Post Leaving Certificate  female          Employed
184   44               Third Level  female          Employed
185   62               Third Level    male          Employed
186   32               Third Level    male          Employed
187   49               Third Level  female          Employed
188   64           Lower Secondary    male          Employed
189   40               Third Level    male          Employed
190   31               Third Level  female          Employed
191   34          Higher Secondary  female          Employed
192   25          Higher Secondary  female          Employed
193   29             Primary Level    male          Employed
194   39  Post Leaving Certificate  female          Employed
195   29               Third Level  female          Employed
196   31          Higher Secondary    male          Employed
197   34               Third Level    male          Employed
198   61          Higher Secondary  female          Employed
199   51  Post Leaving Certificate    male          Employed

[200 rows x 4 columns]

 <a id='section2.3'></a>
### 2.3: Distributions in the Dataframe

The section will visualise the distributions of each of the variables that exist with ithe dataset. This provides an insight in the amount of times a value occurs in each variable. http://people.stern.nyu.edu/adamodar/New_Home_Page/StatFile/statdistns.htm

In [ ]:
plt.figure(figsize=(16, 6))
sns.countplot('Age', data= age_df)

In [ ]:
#https://pythonbasics.org/seaborn-distplot/
sns.set(rc={"figure.figsize": (16, 6)})
ax = sns.distplot(age_df)
plt.title("Age Distribution") # Title for the graph
plt.xlabel("Age") # X-Axis labelling
plt.ylabel(" Number of People") # Y-Axis labelling
plt.show()

In [ ]:
sns.set(rc={"figure.figsize": (16, 6)})
ax = sns.countplot(x ='Education Level', data = education_level_df, order=["Primary Level", "Lower Secondary", "Higher Secondary","Post Leaving Certificate","Third Level"])
plt.title("Highest level of Education attained") # Title for the graph
plt.xlabel("Levels of Education") # X-Axis labelling
plt.ylabel("Number of People") # Y-Axis labelling
plt.show()

<a id='section2.4'></a>
### 2.4: Relationships between the variables

#### Employment Status by Gender

In [ ]:
sns.set(rc={"figure.figsize": (16, 6)})
sns.countplot("Employment Status", hue='Gender', data= merged_df )
sns.set_palette("pastel")

#### Gender by Education Level

In [ ]:
plt.figure(figsize=(16, 6))
sns.countplot(x = "Gender", hue='Education Level', data= merged_df)
sns.set_palette("pastel")

### Displot

In [ ]:
sns.distplot(x = 'Employment Status',y = 'Age', data=merged_df)

#### BOX PLOT

In [ ]:
plt.figure(figsize=(16, 4))
sns.catplot(x="Gender",y="Age", hue="Education Level", col="Employment Status",data=merged_df,kind="box")

<a id='section3'></a>
## Section 3: Conclusion:

<a id='section3.1'></a>
### 3.1: Potential areas of future explorations

**Distributions within the Notebook:**<br/>
https://mode.com/python-tutorial/python-histograms-boxplots-and-distributions/

<a id='ref'></a>
## References:

<a id='ref4.1'></a>
### 4.1: References

1.	https://www.oecd-ilibrary.org/docserver/eag_highlights-2012-11-en.pdf?expires=1575233714&id=id&accname=guest&checksum=6E048A8FBA5F60213205266CDAA4CE07 http://www.welfare.ie/en/Pages/Chapter-3_-Risk-and-Protection-for-Children.aspx<br>
2.	 https://www.citizensinformation.ie/en/education/the_irish_education_system/overview_of_the_irish_education_system.html
3.	https://www.cso.ie/en/statistics/labourmarket/monthlyunemployment/<br>
4.	http://www.welfare.ie/en/Pages/Chapter-3_-Risk-and-Protection-for-Children.aspx.<br>
5.	http://publicpolicy.ie/papers/education-and-employment-a-review-of-educational-attainment-and-labour-market-outcomes/<br>
6.	https://pdf.cso.ie/www/pdf/20191203081521_Monthly_Unemployment_November_2019_summary.pdf<br>
7.	https://www.cso.ie/en/releasesandpublications/er/eda/educationalattainmentthematicreport2019/
 <br>
8.	https://www.sharpsightlabs.com/blog/numpy-random-seed<br>
9.	https://www.geeksforgeeks.org/random-sampling-in-numpy-randint-function<br>
10.	https://stackoverflow.com/questions/46994426/how-to-round-numpy-array<br>

<a id='ref4.2'></a>
### 4.2: Useful Links

# EXAMPLE

In [ ]:
group_gender = merged_df.groupby("Gender")
group_gender

In [ ]:
group_gender.mean()

In [ ]:
sns.set(style="darkgrid")
titanic = sns.load_dataset("titanic")
ax = sns.countplot(x="class", data=titanic)

In [ ]:
ax = sns.countplot(x="class", hue="who", data=titanic)

In [ ]:
ax = sns.countplot(y="class", hue="who", data=titanic)

In [ ]:
ax = sns.countplot(x="who", data=titanic, palette="Set3")