# Sandbox for the project

In [6]:
#Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Set the seed so the variable values are reproducible:

np.random.seed(1500)


# Setting the age range and sample size of students by concatenating the uniform and triangular distributions.
# This method will generate a convincing student age distribution [3].

Age1 = np.random.uniform(15,64,100)  # (low, high, size)
Age2 = np.random.triangular(15,35,64,100) # (left, mode, right, size)
Age = np.concatenate((Age1,Age2)) # Concatenating the distributions

ages = Age.round(0)# Here we are rounding the age as to make it a whole number.
Age_df = pd.DataFrame(ages, columns=['Age'])
Age_df.head()

    Age
0  63.0
1  20.0
2  50.0
3  22.0
4  46.0

In [7]:
## Setup the Education Level DateFrame
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#create data for references

level = ['Primary or Below', 'Lower Secondary', 'Higher Secondary', 'Post leaving certificate', 'Third level']

#created a probability for each string, leaving a higher probability for 'reasonable' and 'good'

prob = [0.05, 0.11, 0.22,0.15, 0.47]
education_level = np.random.choice(level, 200, p=prob)

##creating the dataframe for the references
education_level_df = pd.DataFrame(education_level, columns=['Education Level'])

#showing the first 5 references
education_level_df.head()

SyntaxError: invalid syntax (<ipython-input-7-14c87b916d90>, line 2)